body {
	align-items: center;
	background: #202336;
	display: flex;
	margin: 0;
}
canvas {
	border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}